<form action="/auth/signup" method="POST">
   <label for="username">username</label>
   <input type="text" id="username" name="username">
   <label for="password">password</label>
   <input type="password" id="password" name="password">
   <label for="bio">Bio</label>
   <input type="text" id="bio" name="bio">

   <button type="submit">Submit</button>
</form>





