<a href="/profile">Go Back</a>

<h2>edit your profile pic!</h2>

<form action="/profile/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="imageUrl" accept="image/png, image/jpg">
  <button type="submit">Submit</button>  
</form>

<h2>Select some images</h2>

<form action="/profile/pictures" method="POST" enctype="multipart/form-data">
  <input type="file" name="picUrl" accept="image/png, image/jpg">
  <button type="submit">Submit</button>  
</form>